<h3>Form sign up</h3>
<form class="form-group" [formGroup]="formSignUp" (ngSubmit)="signUp();">
  <div class="form-group">
    <label>Email</label>
    <input placeholder="Email" class="form-control" formControlName="email">
    <p class="text-danger" *ngIf="shouldShowEmailWarning">Email is invalid.</p>
    <!-- <pre>{{ formSignUp.controls.email.errors | json }}</pre> -->
  </div>
  <div class="form-group">
    <label>Name</label>
    <input placeholder="Name" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" placeholder="Password" class="form-control" formControlName="password">
  </div>
  <div class="form-group">
    <label>Re-password</label>
    <input type="password" placeholder="Re-password" class="form-control" formControlName="rePassword">
    <p class="text-danger" *ngIf="formSignUp.errors?.mustMatch">Password must be matched.</p>
  </div>
  <div class="form-group">
    <input type="checkbox" formControlName="isMale">
    <label>Male</label>
  </div>
  <button class="btn btn-success" [disabled]="formSignUp.invalid">Submit</button>
</form>
<pre>{{ formSignUp.value | json }}</pre>
<pre>{{ formSignUp.status }}</pre>